
[Desktop Entry]
Encoding=UTF-8
Name=Penguin's eggs Connect to Hell
GenericName=Connessione al server sftp
Comment=Connessione al server sftp
Exec=gksudo "lxterminal -e connect_to_hell
Icon=/usr/share/icons/eggs.png
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
