Package: eggs-utopic
Version: 0.8.0-6
Architecture: all
Maintainer: Piero Proietti [piero.proietti@gmail.com]
Depends: yad, perl, ash, ipcalc, sshfs, wakeonlan, syslinux, pxelinux
Section: admin
Priority: extra
Homepage: http://piojoris15.com/
Description: eggs-utopic installa un boot server ed avvia la distro 
 little-bird o le immagini iso (NON INCLUSE)
 .
 eggs-utopic, creato da Piero Proietti piero.proietti@gmail.com
              https://github.com/pieroproietti/eggs-utopic/
